<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Acceso denegado. Usuario no autorizado</h1>    
    <div>
        <input type=button onClick="location.href='/home'" value='Volver'>
    </div>         
</body>
</html>