<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Agregar Imagen a carta</h1>
    <form action="/agregarImgCarta" method="POST" enctype="multipart/form-data">
        <div>
            <input type="file" name="cartaIMG" />
        </div>
        <div>
            <input type="submit" value="Agregar">
        </div>
    </form>
</body>
</html>