<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Editar carta</h1>
    <form action="/listadoCartas/editarCarta" method="POST">
        <div>
            <input name="nombreCarta" placeholder="<%= editarCarta[0].nombreCarta %>" type="text" required>
        </div>
        <div>
            <select id="categoria" name="categoria">
                <option value="monstruo">Monstruo</option>
                <option value="magia">Magia</option>
                <option value="trampa">Trampa</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <select id="obtenida" name="obtenida">
                <option value="si">Si</option>
                <option value="no">No</option>
                <option value="proxy">Proxy</option>
            </select>
        </div>        
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</body>
</html>