<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Registro de usuario</h1>
    <form action="/registro" method="POST">
        <div>
            <input name="nombreUsuario" placeholder="Usuario" type="text" required>
        </div>
        <div>
            <input name="contrasena" placeholder="Contraseña" type="password" required></input>
        </div>
        <div>
            <input name="correo" placeholder="Email" type="email" required></input>
        </div>
        <div>
            <input type="submit" value="Registrarse">
        </div>
    </form>
</body>
</html>