<li>
    <%= usuario.idUsuario %>
    <%= usuario.nombreUsuario %>
    <%= usuario.correo %>
    <input type=button onClick="location.href='/listaUsuarios/editarUsuario/<%= usuario.idUsuario %>'" value='Editar Usuario'>
</li>